<a href="https://colab.research.google.com/github/claredavies/ArtificialIntelligience/blob/main/InterviewDataPrepTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [25]:
import numpy as np
from google.colab import files
import pandas as pd
from matplotlib import pyplot as plt
from pandas.api.types import is_numeric_dtype
from pandas.api.types import is_string_dtype
import re
import socket

In [4]:
pd.set_option('display.max_rows', None)

# Read in files

In [5]:
!git clone https://github.com/claredavies/InterviewTaskDataCleaning.git

Cloning into 'InterviewTaskDataCleaning'...
remote: Enumerating objects: 16, done.
remote: Counting objects: 100% (16/16), done.
remote: Compressing objects: 100% (14/14), done.
remote: Total 16 (delta 4), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (16/16), done.

In [6]:
%cd InterviewTaskDataCleaning

/content/InterviewTaskDataCleaning

In [7]:
df = pd.read_csv('InputData.csv')
df.head(3)

,Ref,First_Name,Last_Name,Email,Gender,IP_Address,Date_of_Birth
0,1,Germayne,Simmons,gsimmons0@cdbaby.com,Male,24.48.223.251,18/11/1959
1,2,Cosmo,Pleass,cpleass1@netscape.com,Male,108.87.136.28,08/11/1935
2,3,Henrik,Boag,hboag2@bizjournals.com,Male,221.105.60.101,07/10/1989

# Functions

In [8]:
def boolCheckLengthOverLimitString(value, limit):
  lengthFound = len(value)
  if(lengthFound > limit):
    return True
  else:
    return False

In [9]:
def boolCheckLengthOverLimitInt(value, limit):
  stringValue = str(value)
  return boolCheckLengthOverLimitString(stringValue, limit)

In [10]:
def checkCaseCorrect(string):
  lengthWord = len(string)
  if string[0].isupper() == False:
    return False
  for i in range(1, lengthWord):
    if string[i].isupper() == True:
      return False
  return True

In [11]:
def checkOnlyCharacter(string):
  lengthWord = len(string)
  if string.isalpha() == False:
    for i in range(0, lengthWord):
      if string[i].isalpha() == False:
        if(string[i].find("-") == -1 or string[i].find("'") == -1):
          print("here")
          print("char: " + str(string[i]))
          return False
    return True
  else:
    return True

In [12]:
def checkIfSpacesBetweenWords(string):
  res = bool(re.search(r"\s", string))
  return res

In [22]:
def checkMaleOrFemale(string):
  lowercaseString = string.lower()
  if lowercaseString == 'female':
    return True
  elif lowercaseString == 'male':
    return True
  else:
    return False

In [26]:
def checkIfIPV4Valid(string):
  try:
      socket.inet_aton(string)
      return True
      # legal
  except socket.error:
    return False

# Check Duplicates

In [14]:
dfWithoutRef = df.drop('Ref', axis=1)
dfWithoutRef.head(3)

,First_Name,Last_Name,Email,Gender,IP_Address,Date_of_Birth
0,Germayne,Simmons,gsimmons0@cdbaby.com,Male,24.48.223.251,18/11/1959
1,Cosmo,Pleass,cpleass1@netscape.com,Male,108.87.136.28,08/11/1935
2,Henrik,Boag,hboag2@bizjournals.com,Male,221.105.60.101,07/10/1989

In [15]:
duplicate = df[dfWithoutRef.duplicated()]
print("Duplicate Rows :")
print(duplicate)

Duplicate Rows :
Empty DataFrame
Columns: [Ref, First_Name, Last_Name, Email, Gender, IP_Address, Date_of_Birth]
Index: []

# Check size - should be 1000

In [16]:
print(df.shape)

(1000, 7)

# Check Ref Column

In [17]:
# check numeric
print(is_numeric_dtype(df['Ref']))

# check all values unique
print(df['Ref'].is_unique)

True
True

In [18]:
# check each row
for index, row in df.iterrows():
    if boolCheckLengthOverLimitInt(row['Ref'], 8) == True:
      print(row['Ref'])

    if pd.isna(row['Ref']):
      print("row number: " + str(index))
      print(row['Ref'])
      print("null")

# Check First Name

Check type (character only)

In [38]:
# check numeric
print(is_string_dtype(df['First_Name']))

True

In [93]:
# check each row
for index, row in df.iterrows():
    if pd.isna(row['First_Name']):
      print("Issue with null")
      print("row number: " + str(index))
      print(row['First_Name'])

    else:
      if boolCheckLengthOverLimitInt(row['First_Name'], 20) == True:
        print("Issue with length")
        print("row number: " + str(index))
        print(row['First_Name'])

      if(checkCaseCorrect(row['First_Name']) == False):
        print("Issue with capitilisation")
        print("row number: " + str(index))
        print(row['First_Name'])
    
      # need to search for numbers within
      if checkOnlyCharacter(row['First_Name']) == False:
        print("Issue with characters")
        print("row number: " + str(index))
        print(row['First_Name'])

Issue with capitilisation
row number: 5
christabel
here
char:
Issue with characters
row number: 287
Miof mela
Issue with capitilisation
row number: 422
andonis
Issue with capitilisation
row number: 481
1ain
here
char: 1
Issue with characters
row number: 481
1ain
here
char: -
Issue with characters
row number: 494
Marie-ann
Issue with capitilisation
row number: 553
0wen
here
char: 0
Issue with characters
row number: 553
0wen
here
char: -
Issue with characters
row number: 612
Anne-marie
here
char: '
Issue with characters
row number: 762
D'arcy
here
char: '
Issue with characters
row number: 815
D'arcy
Issue with null
row number: 892
nan

# Check Second Name

In [ ]:
# check numeric
print(is_string_dtype(df['Last_Name']))

In [108]:
# check each row
for index, row in df.iterrows():
    if pd.isna(row['Last_Name']):
      print("Issue with null")
      print("row number: " + str(index))
      print(row['Last_Name'])

    else:
      if boolCheckLengthOverLimitInt(row['Last_Name'], 40) == True:
        print("Issue with length")
        print("row number: " + str(index))
        print(row['Last_Name'])

      if(checkCaseCorrect(row['Last_Name']) == False):
        print("Issue with capitilisation")
        print("row number: " + str(index))
        print(row['Last_Name'])
    
      # need to search for numbers within
      if checkOnlyCharacter(row['Last_Name']) == False:
        print("Issue with characters")
        print("row number: " + str(index))
        print(row['Last_Name'])

      if checkIfSpacesBetweenWords(row['Last_Name']) == True:
        print("Issue with spaces")
        print("row number: " + str(index))
        print(row['Last_Name'])

Issue with capitilisation
row number: 5
start
Issue with null
row number: 26
nan
Issue with capitilisation
row number: 57
McDermid
Issue with capitilisation
row number: 78
O' Markey
here
char: '
Issue with characters
row number: 78
O' Markey
Issue with spaces
row number: 78
O' Markey
Issue with capitilisation
row number: 100
Mc Corley
here
char:
Issue with characters
row number: 100
Mc Corley
Issue with spaces
row number: 100
Mc Corley
Issue with capitilisation
row number: 110
Le Pruvost
here
char:
Issue with characters
row number: 110
Le Pruvost
Issue with spaces
row number: 110
Le Pruvost
Issue with capitilisation
row number: 127
Le Franc
here
char:
Issue with characters
row number: 127
Le Franc
Issue with spaces
row number: 127
Le Franc
Issue with null
row number: 173
nan
Issue with capitilisation
row number: 179
Van Geffen
here
char:
Issue with characters
row number: 179
Van Geffen
Issue with spaces
row number: 179
Van Geffen
here
char: `
Issue with characters
row number: 191
Hainey`
Issue with capitilisation
row number: 218
McIlveen
Issue with capitilisation
row number: 240
Mc Gee
here
char:
Issue with characters
row number: 240
Mc Gee
Issue with spaces
row number: 240
Mc Gee
here
char: 1
Issue with characters
row number: 297
Gambe11
Issue with capitilisation
row number: 298
McEntegart
Issue with capitilisation
row number: 321
O'Dare
here
char: '
Issue with characters
row number: 321
O'Dare
Issue with capitilisation
row number: 367
MacNeish
Issue with capitilisation
row number: 375
Falconer-Taylor
here
char: -
Issue with characters
row number: 375
Falconer-Taylor
Issue with capitilisation
row number: 407
MacAiline
Issue with capitilisation
row number: 422
cappel
Issue with capitilisation
row number: 455
O'Cannan
here
char: '
Issue with characters
row number: 455
O'Cannan
Issue with capitilisation
row number: 457
McGray
Issue with capitilisation
row number: 470
McKernan
Issue with capitilisation
row number: 506
McLaverty
Issue with capitilisation
row number: 576
MacKintosh
Issue with capitilisation
row number: 594
MacNeely
Issue with capitilisation
row number: 627
McGuckin
Issue with capitilisation
row number: 638
Van Dijk
here
char:
Issue with characters
row number: 638
Van Dijk
Issue with spaces
row number: 638
Van Dijk
Issue with capitilisation
row number: 642
Surman Wells
here
char:
Issue with characters
row number: 642
Surman Wells
Issue with spaces
row number: 642
Surman Wells
Issue with capitilisation
row number: 646
O'Henehan
here
char: '
Issue with characters
row number: 646
O'Henehan
Issue with capitilisation
row number: 685
McGinlay
Issue with capitilisation
row number: 686
McCloid
Issue with capitilisation
row number: 707
Du Pre
here
char:
Issue with characters
row number: 707
Du Pre
Issue with spaces
row number: 707
Du Pre
Issue with capitilisation
row number: 711
McClure
Issue with capitilisation
row number: 718
McKeag
Issue with capitilisation
row number: 726
O'Deegan
here
char: '
Issue with characters
row number: 726
O'Deegan
Issue with capitilisation
row number: 770
De Metz
here
char:
Issue with characters
row number: 770
De Metz
Issue with spaces
row number: 770
De Metz
Issue with capitilisation
row number: 779
McDaid
Issue with capitilisation
row number: 782
O'Doireidh
here
char: '
Issue with characters
row number: 782
O'Doireidh
Issue with capitilisation
row number: 797
McAlpin
Issue with capitilisation
row number: 814
0'Dowgaine
here
char: 0
Issue with characters
row number: 814
0'Dowgaine
Issue with capitilisation
row number: 833
Di Ruggero
here
char:
Issue with characters
row number: 833
Di Ruggero
Issue with spaces
row number: 833
Di Ruggero
Issue with capitilisation
row number: 840
McWaters
Issue with capitilisation
row number: 845
McTerlagh
Issue with capitilisation
row number: 858
Lambert-Ciorwyn
here
char: -
Issue with characters
row number: 858
Lambert-Ciorwyn
Issue with capitilisation
row number: 869
McCambrois
Issue with capitilisation
row number: 889
McFater
Issue with capitilisation
row number: 892
Donny Dobell
here
char:
Issue with characters
row number: 892
Donny Dobell
Issue with spaces
row number: 892
Donny Dobell
Issue with capitilisation
row number: 919
Le Lievre
here
char:
Issue with characters
row number: 919
Le Lievre
Issue with spaces
row number: 919
Le Lievre
Issue with capitilisation
row number: 927
Le Ball
here
char:
Issue with characters
row number: 927
Le Ball
Issue with spaces
row number: 927
Le Ball
Issue with capitilisation
row number: 937
O'Curran
here
char: '
Issue with characters
row number: 937
O'Curran
Issue with capitilisation
row number: 939
De Cleyne
here
char:
Issue with characters
row number: 939
De Cleyne
Issue with spaces
row number: 939
De Cleyne
Issue with capitilisation
row number: 966
Hanbury-Brown
here
char: -
Issue with characters
row number: 966
Hanbury-Brown
Issue with capitilisation
row number: 991
McGinn

# Check Email

In [ ]:
# check string
print(is_string_dtype(df['Email']))

In [109]:
# check each row
for index, row in df.iterrows():

  if boolCheckLengthOverLimitInt(row['Email'], 254) == True:
    print("Issue with length")
    print("row number: " + str(index))
    print(row['Email'])

# Check Gender

In [24]:
# check each row
for index, row in df.iterrows():
  if pd.notna(row['Gender']):
    if type(row['Gender']) == str:

      if boolCheckLengthOverLimitInt(row['Gender'], 6) == True:
        print("Issue with length")
        print("row number: " + str(index))
        print(row['Gender'])

      if checkMaleOrFemale(row['Gender']) == False:
        print("Issue with not being male or female")
        print("row number: " + str(index))
        print(row['Gender'])

Issue with not being male or female
row number: 123
1
Issue with not being male or female
row number: 157
m
Issue with not being male or female
row number: 346
1
Issue with not being male or female
row number: 353
1
Issue with not being male or female
row number: 401
fem
Issue with not being male or female
row number: 520
2
Issue with not being male or female
row number: 585
f

# Check IP Address

In [27]:
for index, row in df.iterrows():
  if pd.notna(row['IP_Address']):
    if type(row['IP_Address']) == str:

      if boolCheckLengthOverLimitInt(row['IP_Address'], 15) == True:
        print("Issue with length")
        print("row number: " + str(index))
        print(row['IP_Address'])
      
      if checkIfIPV4Valid(row['IP_Address']) == False:
        print("Issue with IPV4 validity")
        print("row number: " + str(index))
        print(row['IP_Address'])

Issue with length
row number: 8
1df6:b3b9:cdb7:d246:3fe9:7288:46ee:e528
Issue with IPV4 validity
row number: 8
1df6:b3b9:cdb7:d246:3fe9:7288:46ee:e528
Issue with length
row number: 248
3382:2b24:9d84:3f16:93ed:c969:7099:3ce9
Issue with IPV4 validity
row number: 248
3382:2b24:9d84:3f16:93ed:c969:7099:3ce9
Issue with IPV4 validity
row number: 296
216.257.82.213
Issue with IPV4 validity
row number: 694
6.43.0.73.0
Issue with length
row number: 759
cb7f:eb37:387f:6995:e521:3606:6fd7:9ade
Issue with IPV4 validity
row number: 759
cb7f:eb37:387f:6995:e521:3606:6fd7:9ade
Issue with length
row number: 886
81fa:e7bb:8612:f955:3aba:14d0:f1a5:a5ff
Issue with IPV4 validity
row number: 886
81fa:e7bb:8612:f955:3aba:14d0:f1a5:a5ff

# Check Date of Birth

In [ ]:
for index, row in df.iterrows():
  if pd.notna(row['Date_of_Birth']):
    if type(row['Date_of_Birth']) == str:

      if boolCheckLengthOverLimitInt(row['Date_of_Birth'], 10) == True:
        print("Issue with length")
        print("row number: " + str(index))
        print(row['Date_of_Birth'])